<!doctype html>
<html lang="en">
    <head>
        <title>Vincius Studio Code</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
            <link rel="stylesheet" 
                href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
                integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
                crossorigin="anonymous">

    </head>
    <body style="background-color: #1B9CFC">
        <main class="container py-5">
            <article>
                <section class="row justify-content-center mt-5">
                    <div class="col-md-7">
                        <!--col-->
                        <header class="text-center my-5 bg-transparent">   
                            <a href="/compiler"><img id="logo" src="img/boss.png" alt="Chefão" class="img-fluid rounded mx-auto d-block"></a>
                        </header>
                    </div>
                    <!--fim col-->
                </section>
            </article>
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

            <script>
                    $(document).ready(() => {
                        $('#logo').mouseenter(function(){
                            $(this).animate({
                                width: "90%",
                            }, 'slow');
                            $('a').append('<span>Entre Agora <i class="fas fa-sign-in-alt mx-2"> !!!</i></span>');
                            $('a').css({
                                'text-decoration': 'none',
                                'font-size': '1.5em',
                                'text-transform': 'uppercase',
                                'color': '#ffffff',
                                'outline': 'none'
                            });
                        });

                        $('#logo').mouseleave(function(){
                            $(this).animate({
                                width: "100%",
                            }, 'slow');
                            $('a span').remove();
                        });
                    });
            </script>
    </body>
</html>